{% extends 'index.html' %}

{% block index_header %}
    <header>
        <nav></nav>
        <h1>Jonathan Peacher</h1>
        <p>
            Software Engineer • Coffee Enthusiast • Dungeon Master • Cat Dad<br>
            <small>
                <a href="https://twitter.com/_djpeacher">Twitter</a> • <a href="https://fosstodon.org/@djpeacher">Mastadon</a> • <a href="https://github.com/djpeacher">GitHub</a> • <a href="/posts/index.xml">RSS</a>
            </small>
        </p>
    </header>
{% endblock %}

{% block index_main %}
    <h2>Projects</h1>
    <ul>
        <li><a href="/recipes/">Recipes</a></li>
    </ul>
{% endblock %}